<div ng-controller="NutritionController">
	<div class="input-section">
		<h3 class="input-heading">Kcals Eaten</h3>
		<div class="input-with-units">
			<span class="input-units">kcals</span>
			<input required type="number" min="0" ng-model="calories" class="form-control" name="calories">
		</div>
	</div>
	<p class='errorMessage' ng-show="isDefined('error') && error.length > 0">{{error}}</p>
	<button ng-disabled="submitting" type='button' class="button red-button" ng-click="hide()">Cancel</button>
	<button ng-disabled="submitting" ng-disabled="exercise_type" ng-click="submit()" type="button" class="button green-button two-buttons">
		{{submitting | then:"Saving...":"Confirm"}}
	</button>
</div>
