<div  ng-controller="SleepController">
	<div ng-show="loading">Loading...</div>
	<div ng-hide="loading">
		<h3 class="popover-title">Edit Sleep for</h3>
		<p class="when">Night of {{sleepDeleteDate | momentAdd:-1:'day' | momentDate:'dddd, DD/MM/YYYY'}}</p>

		<div class="display-section">
			<ul class="objective-data-list">
				<li ng-repeat="datum in data" class="objective-data-item repeat-item">
					<span class="amount">{{datum.total_sleep | hoursAndMinutes }}</span>
					<span class="pull-right">
						<span class="source">{{datum.source}}</span>
						<a class="clickable" ng-click="delete(datum)" analytics-on analytics-category="DeleteData" analytics-label="Sleep"><i class="batch-icon bin"></i></a>
					</span>
				</li>
			</ul>
		</div>

		<div class="clearfix"></div>

		<div class="input-section">
			<div class="sleep-quality">
				<h3 class="input-heading">My quality of sleep was</h3>
				<label>
					<input type="radio" ng-model="sleepQuality" value=1>
					<span class="radio-button"><span class="select red"></span></span><span class="name">Terrible</span>
				</label>
				<label>
					<input type="radio" ng-model="sleepQuality" value=2>
					<span class="radio-button"><span class="select light-red"></span></span><span class="name">Bad</span>
				</label>
				<label>
					<input type="radio" ng-model="sleepQuality" value=3>
					<span class="radio-button"><span class="select orange"></span></span><span class="name">OK</span>
				</label>
				<label>
					<input type="radio" ng-model="sleepQuality" value=4>
					<span class="radio-button"><span class="select yellow"></span></span><span class="name">Good</span>
				</label>
				<label>
					<input type="radio" ng-model="sleepQuality" value=5>
					<span class="radio-button"><span class="select green"></span></span><span class="name">Great</span>
				</label>
			</div>
			<br/>
		</div>
		<button ng-disabled="submitting" type='button' class="button red-button" ng-click="hide()">Cancel</button>
		<button ng-disabled="submitting" ng-click="update(datum)" type="button" class="btn green-button two-buttons">
			{{submitting | then:"Saving...":"Confirm"}}
		</button>
	</div>
</div>

