<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
		  <rules>
			<!-- dashboard.project-ginsberg.com -> dashboard.ginsberg.io -->
			<rule name="Dashboard .io redirect" stopProcessing="true">
			  <match url="(.*)" />
			  <conditions>
				<add input="{HTTP_HOST}" pattern="^dashboard\.project-ginsberg\.com$" />
			  </conditions>
			  <action type="Redirect" url="https://dashboard.ginsberg.io/{R:1}" logRewrittenUrl="true" />
			</rule>

			<!-- sdashboard.project-ginsberg.com -> sdashboard.ginsberg.io -->
			<rule name="Staging dashboard .io redirect" stopProcessing="true">
			  <match url="(.*)" />
			  <conditions>
				<add input="{HTTP_HOST}" pattern="^sdashboard\.project-ginsberg\.com$" />
			  </conditions>
			  <action type="Redirect" url="https://sdashboard.ginsberg.io/{R:1}" logRewrittenUrl="true" />
			</rule>

			<!-- If we have an http://{x}.ginsberg.io request, force it to use HTTPS... -->
			<rule name="Redirect to HTTPS" stopProcessing="true">
			  <match url="(.*)" />
			  <conditions>
				<add input="{HTTPS}" pattern="^OFF$" />
			  </conditions>
			  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
			</rule>
		  </rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,DELETE,HEAD,PUT,OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Olaround-Debug-Mode, Authorization, Accept" />
				<!-- add name="Access-Control-Expose-Headers" value="X-Olaround-Debug-Mode, X-Olaround-Request-Start-Timestamp, X-Olaround-Request-End-Timestamp, X-Olaround-Request-Time, X-Olaround-Request-Method, X-Olaround-Request-Result, X-Olaround-Request-Endpoint" /-->
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
	</system.webServer>
</configuration>
